#factura_compra{
        max-height: calc(100vh - 0px);
        overflow-y: auto;
  }

.modal-dialog-carta {
    max-width: 100%;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal-sinborde{
    border-style: none;
}

/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){
}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){
}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){


}