.contenedor_factura{
    
    width: 420px;
    height: auto;
    text-align: center;
    background-color: blue;
  }
  .nueva_factura{
    
    width: 400px;
    height: auto;
    display:flex;
    justify-content: center;
  }
  body, #contenido, #principal, #pie {
    float: none !important;
    width: auto !important;
    margin:  0 !important;
    padding: 0 !important;
  }

  .main-wrapper{
      display: none;
  }
  
  .ocultar-print{
      display: none;
  }

  .contenedor_factura{
      margin-top: -15px;
      margin-left: -20px;
      width: 400px;
  }

  .footer_factura{
      display: block;
      width: 400px;
      height: auto;
    text-align: center;
    line-height:5px;
  }
  /* .footer_factura h3{
      display: table;
  } */

  .menu_ocultar{
      display: none;
  }
  .estilo_ocultar{
      display: block;
  }

  .factura_venta{
      margin-left: 30px;
  }
 